.results {
  height: 70vh;
  border: 1px solid rgba(204, 204, 204, 0.205);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-radius: 6px;
}

.sticky {
  position: sticky;
  background-color: #fff;
  color: black;
  top: -1px;
  left: -1px;
  font-size: 18px;
  font-weight: 700;
}

.sticky a {
  color: black;
  text-decoration: none;
}