.row {
  max-width: 1200px;
  margin: 0 auto;
}

.div {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6)), url('../assets/back.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}