a {
  text-decoration: none;
  color: rgb(68, 68, 230);
  font-weight: 700;
}

.item {
  font-weight: 400;
}

.row {
  border: 1px solid rgba(204, 204, 204, 0.105);
}

.item-card {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}